<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wander Lust</title>
</head>
<style>
    ul li a{
        text-decoration: none;
    }
</style>
<body>
    <h3>All listing</h3>
    <ul>
        <% for(let listing of alllistings){ %>
            <li><a href="/listings/<%=listing.id%>"><%=listing.title %></a></li>
        <% }%>
    </ul>
    <form method="get" action="/listings/new">
        <button>Create New Listing</button>
    </form>
</body>

</html>