<%layout("/layout/bollerplate")%>

    <body>
        <div class="row">
            <div class="col-8 offset-2 mt-3">
                <h2>Create a new Listings</h2>
                <form method="post" action="/listings">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" name="Listing[title]" placeholder="Enter title" class="form-control"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea name="Listing[description]" id="description" placeholder="Enter Description"
                            class="form-control" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image URL:</label>
                        <input type="text" name="Listing[image][url]" placeholder="Enter image URL" class="form-control"
                            required>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price:</label>
                            <input type="number" name="Listing[price]" placeholder="Enter price" class="form-control"
                                required>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country:</label>
                            <input type="text" name="Listing[country]" placeholder="Enter Country" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" name="Listing[location]" placeholder="Enter Location" class="form-control"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Add</button><br><br>
                </form>
            </div>
        </div>
    </body>