body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}

/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color:red;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
    text-align: center;
    height: 8rem;
    background-color: #bebfc2;
}

.f-info-socials, .f-info-links, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.3rem;
    margin-right: 1rem;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

/* card */
.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body{
    padding: 0;
}

.listing-link{
    text-decoration: none;
}

.card-text{
    font-weight: 400;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* show page */
.show-img{
    height: 30vh;
}

.del-btn{
    background-color: red;
    color: white;
    border: none;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}